<div class="signup-container">
  <h2>Create Account</h2>
  <form action="#" method="POST">

    <div class="input-group">
      <label for="username">Username</label>
      <input type="username" id="username" name="email" placeholder="Enter username" required #username>
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Create password" required #password>
    </div>

    <div class="input-group">
      <label for="confirm password">confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm password" required  #confirmPassword>
    </div>

    <div class="message-box" *ngIf="message_AR || message_EN || message_FR">
      <p class="msg-ar">{{ message_AR }}</p>
      <p class="msg-en">{{ message_EN }}</p>
      <p class="msg-fr">{{ message_FR }}</p>

    </div>
    <button type="submit" class="signup-button" (click)="createAccount(username.value ,password.value ,confirmPassword.value)">Sign Up</button>
  </form>
  <div class="signup-footer">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>



